<!DOCTYPE html>
<html>
<head>
  <title>Hacker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h3 id="app_title">Super Awesome Hacker Links</h3>

<%= yield %>

</body>
</html>
